nav {
   background-color: blue; 
}
#links {
    background-color: cornflowerblue;
    font-size: 45px;
    display: none;
    flex-direction: column;
    text-align: center;
    height: 140px;
    padding: 20px;
    justify-content: space-around;
}
#icon {
    text-align: right;
    padding: 10px;
    color: white;
}
@media screen and (min-width: 500px) {
    #icon{
        display: none;
    }
    #links {
        display: flex;
        flex-direction: row;
        height: 70px;
    }
}
